<main class="d-flex align-items-center justify-content-center py-4 bg-body-tertiary">
    <div class="toast-wrapper"></div>
    <form action="" class="form-signin js-action-submit" data-action="controller:auth__authenticate_user">
        <h1 class="h3 mb-5 fw-normal text-center">{{ 'Log in' | trans }}</h1>
        <div class="mb-3">
            <label class="visually-hidden" for="auth[email]">{{ 'Email' | trans }}</label>
            <input type="email" class="form-control" name="auth[email]" id="auth[email]" placeholder="{{ 'Email' | trans }}" required>
        </div>
        <div class="mb-3">
            <label class="visually-hidden" for="auth[password]">{{ 'Password' | trans }}</label>
            <input type="password" class="form-control" name="auth[password]" id="auth[password]" placeholder="{{ 'Password' | trans }}" required>
        </div>

        <div class="d-flex align-items-center justify-content-between my-3">
            <div class="form-check text-start d-flex align-items-center gap-2 col">
                <input class="form-check-input my-auto" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label text-muted fs-7" for="flexCheckDefault">Lembre de mim</label>
            </div>
            <div class="col text-end">
                <a href="/forgot" class="fs-7 text-primary link-hover-50">{{ 'Forgot your password?' | trans }}</a>
            </div>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">{{ 'Log in' | trans }}</button>
        <p class="mt-5 mb-3 text-muted text-center fs-7">
            {{ "Don't have an account?" | trans }} <a href="/signup" class="text-primary link-hover-50">{{ 'Sign up' | trans }}</a>
        </p>
    </form>
</main>