<ul class="folder-list m-0 p-0">
    {% for folder in folders %}
    <li class="folder">
        <a href="" class="d-flex align-items-center justify-content-between gap-3 px-4 py-2">
            <div class="d-flex align-items-center flex-grow-1 gap-3 overflow-hidden">
                <i class="bi bi-folder-fill fs-3"></i>
                <div class="flex-grow-1 overflow-hidden">
                    <p class="m-0 text-truncate">{{ folder.name }}</p>
                    <small class="d-block text-secondary fs-8">{{ 'Total notes:' }} {{ folder.total_notes }}</small>
                </div>
            </div>
            <div>
                <button class="icon-button btn d-flex align-items-center teste" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots-vertical w-100"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item" data-action="controller:app__rename_folder" data-action-success="helper:app__folders" data-update-target=".file-list" data-params="id:{{ folder.id }}">
                            <i class="bi bi-pencil"></i>
                            <span class="d-inline-block ms-1">{{ 'Rename folder' | trans }}</span>
                        </button>
                        <button class="dropdown-item js-action-delete" data-action="controller:app__delete_folder" data-action-success="helper:app__folders" data-update-target=".file-list" data-params="id:{{ folder.id }}">
                            <i class="bi bi-trash text-danger"></i>
                            <span class="d-inline-block ms-1 text-danger">{{ 'Delete' | trans }}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>